.pagination {
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom:2rem;
  text-align: left;
}

.pagination button {
  margin-right : .5rem;
  cursor: pointer;
  padding : 7px  15px
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: orangered;
  color: white;
}